/*Style for Contact Form
www.mindyourmanners.ca 
Created by Glen Hodges 2014*/

#contact-area {
	width: 50%;
	display: block;
	margin: 80px auto;
	float: right;
}

#contact-area input, #contact-area textarea {
	padding: 5px;
	font-family: Helvetica, sans-serif;
	font-size: .9em;
	margin: 0px 0px 10px 0px;
	border: 1px solid #ccc;
	color: #c6c6c6;
}

#contact-area textarea { height: 90px; }
#contact-area input.submit-button {
	width: 100px;
	float: left;
	color: #878787;
}
label {
	float: left;
	text-align: left;
	margin-right: 15px;
	width: 100px;
	padding-top: 0px;
	padding-bottom: 5px;
	font-size: 1em;
	color: #878787;
}

::-webkit-input-placeholder { color: #c6c6c6; }
:-moz-placeholder { color: #c6c6c6; }
::-moz-placeholder { color: #c6c6c6; }
:-ms-input-placeholder { color: #c6c6c6; }



@media screen and (max-width : 650px) {
	#contact-area {
		width: 95%;
		padding: 0;
		float: none;
	}
}






























